@page
@model asp_presentaciones.Pages.Ventanas.Clases_EstudiantesModel
@{
    ViewData["Titulo"] = "Clases Estudiantes";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Clases Estudiantes</h3>
            </div>
            <div align="left"
                 class="bt_panel_buttons">
                <input type="submit"
                       value="Refrescar"
                       asp-page-handler="BtRefrescar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_utilidades.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Nuevo"
                       asp-page-handler="BtNuevo"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_utilidades.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Guardar"
                       asp-page-handler="BtGuardar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_utilidades.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Cancelar"
                       asp-page-handler="BtCancelar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_utilidades.Enumerables.Ventanas.Listas)" />
            </div>

            @if (Model.Accion != lib_utilidades.Enumerables.Ventanas.Listas ||
            Model.Accion == lib_utilidades.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Id" />
                <input type="hidden"
                       asp-for="@Model.Actual!.NotaFinal" />
            }
            @if (Model.Accion == lib_utilidades.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Estudiante" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Salon" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Materia" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Nota1" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Nota2" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Nota3" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Nota4" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Nota5" />
            }

            @if (Model.Accion == lib_utilidades.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>Clases Estudiantes</h3>

                    <div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Estudiante
                            </label>
                            <div class="col-lg-6">
                                <input id="nmEstudiante"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Estudiante" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Salon
                            </label>
                            <div class="col-lg-6">
                                <input id="nmSalon"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Salon" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Materia
                            </label>
                            <div class="col-lg-6">
                                <input id="nmMateria"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Materia" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                               Nota1
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNota1"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Nota1" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Nota2
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNota2"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Nota2" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Nota3
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNota3"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Nota3" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Nota4
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNota4"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Nota4" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Nota5
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNota5"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Nota5" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Nota Final
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNotaFinal"
                                       disabled="disabled"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.NotaFinal" />
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                       asp-for="@Model.Accion" />
                @await Html.PartialAsync(
                         "../Emergentes/Mensajes.cshtml")
            }

            @if (Model.Accion == lib_utilidades.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                Mensaje
                            </h2>

                            <h4 align="left">
                                Borrar Entidad
                            </h4>
                            <h6 align="left">
                                @Model.Actual!.Estudiante
                            </h6>
                            <br />
                            <br />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCancelar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model.Accion == lib_utilidades.Enumerables.Ventanas.Listas ||
            Model.Accion == lib_utilidades.Enumerables.Ventanas.Borrar)
            {
                <input id="flNombre"
                       class="cts_forms form-control"
                       asp-for="@Model.Filtro!.Estudiante"
                       placeholder="Estudiante" />
                <br />

                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered table-hover">
                        <tr>
                            <th>
                                Estudiante
                            </th>
                            <th class="cl_hidden">
                                Nota1
                            </th>
                            <th class="cl_hidden">
                                Nota2
                            </th>
                            <th class="cl_hidden">
                                Nota3
                            </th>
                            <th class="cl_hidden">
                                Nota4
                            </th>
                            <th class="cl_hidden">
                                Nota5
                            </th>
                            <th>
                                Nota Final
                            </th>
                            <th class="cl_actions">
                                Accion
                            </th>
                        </tr>
                        @if (Model != null && Model.Lista != null)
                        {
                            @foreach (var elemento in Model.Lista)
                            {
                                <tr>
                                    <td>
                                        @elemento.Estudiante
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Nota1
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Nota2
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Nota3
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Nota4
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Nota5
                                    </td>
                                    <td>
                                        @elemento.NotaFinal
                                    </td>
                                    <td>
                                        <input type="submit"
                                               value="Modificar"
                                               asp-page-handler="BtModificar"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.Id" />
                                        <input type="submit"
                                               value="Borrar"
                                               asp-page-handler="BtBorrarVal"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.Id" />
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
        <script>
            document.getElementById('formEstudiantes').addEventListener('submit', function (event) {
                // Limpia los campos después de enviar
                setTimeout(() => {
                    document.getElementById('nombre').value = '';
                    document.getElementById('edad').value = '';
                }, 500); // Ajusta el tiempo para coincidir con el guardado
            });
        </script>
    </div>
</center>